.header {
  display: flex;
  margin: 5px;
}

.loading {
  margin-left: 10px;
}

.areas {
  display: flex;
}

.play-area {
  flex-grow: 1;
}

.trash-area {
  width: 80px;
}

.add-note-btn img {
  width: 15px;
  height: 15px;
}